<!DOCTYPE html> 
<html>
<head>
    <title>Recipe App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>

    <hr>

    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}
    
    {% block content %}
        Put body here.

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"</script>

    {% endblock %}

</body>
</html>