<!DOCTYPE html> 
<html>
<head>
    <title>Recipe App</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <hr>

    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}
    
    {% block content %}
        Put body here.

    {% endblock %}

</body>
</html>