{% extends 'base.html' %}
{% block content %}

    <h1>Grocery List</h1> 

    {% if groceries %}
        <form action="/groceries" method="POST" class="form-vertical" id="groceryForm">
        <div class="form-group">
                <div class="col-xs-4">
                    {% for grocery in groceries%}
                        {{ grocery[0] }}<br>
                    {% endfor %}
                    <br>
                       <textarea class="form-control" id="groceryInput" rows="3" placeholder="Groceries"></textarea>
                       <br>
                       <button type="button" class="btn btn-default addButton">Add To Grocery List</button>
                </div>


    {% endif %}

{% endblock %}