{% extends 'base.html' %}
{% block content %}
    
    <h1>Hello {{ name }}! Today's date is {{ date }}.</h1>

    <form action="/add-ingredients" method="POST">
        <label for="ingredients">Ingredients:<br>
            <input type="text" name="ingredient"><br>
            <input type="text" name="ingredient"><br>
            <input type="text" name="ingredient">
        </label><br>
        <label for="amount">Amount:<br>
            <input type="text" name="amount"><br>
            <input type="text" name="amount"><br>
            <input type="text" name="amount">
        </label><br>
        <label for="unit">Unit:<br>
            <select name="unit">
                <option value="none">N/A
                <option value="ounce">oz
                <option value="gram">grams
                <option value="liter">liter
                <option value="gallon">gallon
                <option value="quart">quart
                <option value="pint">pint
                <option value="cup">cup
            </select><br>
            <select name="unit">
                <option value="none">N/A
                <option value="ounce">oz
                <option value="gram">grams
                <option value="liter">liter
                <option value="gallon">gallon
                <option value="quart">quart
                <option value="pint">pint
                <option value="cup">cup
            </select><br>
            <select name="unit">
                <option value="none">N/A
                <option value="ounce">oz
                <option value="gram">grams
                <option value="liter">liter
                <option value="gallon">gallon
                <option value="quart">quart
                <option value="pint">pint
                <option value="cup">cup
            </select>
        </label><br>
        <br>
        <input type="submit">
    </form><br>

    <a href="/recipes">Suggested Recipes</a><br>
    <a href="/logout">Logout</a>

{% endblock %}