{% extends 'base.html' %}
{% block content %}
    
    <h1>Hello {{ name }}! Today's date is {{ date }}.</h1>

    <form action="/add-ingredients" method="POST">
        <label for="ingredients">Ingredients:<br>
            <input type="text" name="ingredient"><br>
            <input type="text" name="ingredient"><br>
            <input type="text" name="ingredient">
        </label><br>
        <label for="amount">Amount:<br>
            <input type="text" name="amount"><br>
            <input type="text" name="amount"><br>
            <input type="text" name="amount">
        </label><br>
        <label for="unit">Unit:<br>
            <select name="unit">
                <option value="none">N/A
                <option value="pound(s)">pounds
                <option value="ounce(s)">ounces
                <option value="grams(s)">grams
                <option value="liters(s)">liter
                <option value="gallon(s)">gallon
                <option value="quart(s)">quart
                <option value="pint(s)">pint
                <option value="cup(s)">cup
            </select><br>
            <select name="unit">
                <option value="none">N/A
                <option value="pound(s)">pounds   
                <option value="ounce(s)">ounces
                <option value="gram(s)">grams
                <option value="liter(s)">liter
                <option value="gallon(s)">gallon
                <option value="quart(s)">quart
                <option value="pint(s)">pint
                <option value="cup(s)">cup
            </select><br>
            <select name="unit">
                <option value="none">N/A
                <option value="pound(s)">pounds
                <option value="ounce(s)">ounces
                <option value="gram(s)">grams
                <option value="liter(s)">liters
                <option value="gallon(s)">gallons
                <option value="quart(s)">quarts
                <option value="pint(s)">pints
                <option value="cup(s)">cups
            </select>
        </label><br>
        <br>
        <input type="submit">
    </form><br>

    <label for="current-ingredients">Current Ingredients:<br>
        {% if current_ingredients %}
            {% for ingredient in current_ingredients %}
                {% if ingredient[2] == "none" %}
                    {{ ingredient[0] }} {{ ingredient[1] }}<br>
                {% else %}
                    {{ ingredient[0] }} {{ ingredient[1] }} {{ ingredient[2] }}<br>
                {% endif %}
            {% endfor %}
        {% else %}
            You have no ingredients at the moment.<br>
        {% endif %}
    <br>
    <a href="/recipes">Suggested Recipes</a><br>
    <a href="/logout">Logout</a>

{% endblock %}