{% extends 'base.html' %}
{% block content %}
    
    <h1>Hello {{ name }}! Today's date is {{ date }}.</h1>

    <form action="/add-ingredients" method="POST" class="form-horizontal" id="ingForm">
        <!-- Form group is used for Bootstrap -->
        <div class="form-group">
            <label for="ingredients" class="col-xs-1 control-label">Ingredients:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="ingredient" placeholder="Ingredient" />
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="amount" placeholder="Amount" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" name="unit">
                        <option value="none">N/A</option>
                        <option value="pound">pounds</option>
                        <option value="ounce">ounces</option>
                        <option value="gram">grams</option>
                        <option value="liter">liters</option>
                        <option value="gallon">gallons</option>
                        <option value="quart">quarts</option>
                        <option value="pint">pints</option>
                        <option value="cup">cups</option>
                    </select>
                </div>
                <div class = "col-xs-1">
                    <button type="button" class="btn btn-default addButton">Add</button>
                </div>
        </div>
        <div class="form-group" id="ingTemplate" hidden>
            <div class="col-xs-4 col-xs-offset-1">
                <input type="text" class="form-control" name="ingredient" placeholder="Ingredient" />
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="amount" placeholder="Amount" />
            </div>
            <div class="col-xs-2">
                <select class="form-control" name="unit">
                    <option value="none">N/A</option>
                    <option value="pound">pounds</option>
                    <option value="ounce">ounces</option>
                    <option value="gram">grams</option>
                    <option value="liter">liters</option>
                    <option value="gallon">gallons</option>
                    <option value="quart">quarts</option>
                    <option value="pint">pints</option>
                    <option value="cup">cups</option>
                </select>
            </div>
            <div class = "col-xs-1">
                <button type="button" class="btn btn-default removeButton">Remove</button>
            </div>
        </div>
        <input type="submit" class="btn btn-primary">
    </form><br>

    <label for="current-ingredients">Current Ingredients:<br>
        {% if current_ingredients %}
            {% for ingredient in current_ingredients %}
                {% if ingredient["unit"] == "none" %}
                    {{ ingredient["name"] }} {{ ingredient["amount"] }}<br>
                {% else %}
                    {{ ingredient["name"] }} {{ ingredient["amount"] }} {{ ingredient["unit"] }}<br>
                {% endif %}
            {% endfor %}
        {% else %}
            You have no ingredients at the moment.<br>
        {% endif %}
    <br>
    <a href="/recipes">Suggested Recipes</a><br>
    <a href="/logout">Logout</a>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/profile.js"></script>


{% endblock %}