{% extends 'base.html' %}
{% block content %}
    <h1>Suggested Recipes</h1>
    
    {% if recipes %} 
        {% for recipe in recipes %}
            <div class="recipe">
                <span class="recipeid" hidden>{{ recipe[0] }}</span>
                <span class="recipeimage">
                    <img src="{{ recipe[1] }}">
                </span>
                <span class="recipename"><a href="{{ recipe[3]}}" target="_blank">{{ recipe[2] }}</a></span>
            </div>
        {% endfor %}
    {% else %}
        <h4>There are no suggested recipes as you have no ingredients.</h4>
    {% endif %}
    

{% endblock %}