{% extends 'base.html' %}

{% block content %}
    <h1>Suggested Recipes</h1>

    {% if recipes %} 
        {% for recipe in recipes %}
            <div class="recipe" id="{{ recipe['recipe_id']}}">
                <span class="recipeimage">
                    <img src="{{ recipe['image']}}">
                </span>
                <span class="recipename"><a href="{{ recipe['source'] }}" target="_blank">{{ recipe['name'] }}</a></span>
                <span class="ingredients" hidden>{{ recipe['ingredients'] }}</span>
                <br>
                <button type="button" class="bookmarks" data-image="{{ recipe['image'] }}" data-link="{{ recipe['source'] }}" data-name="{{ recipe['name'] }}">Bookmark</button>
                <button type="button" class="cook" data-image="{{ recipe['image'] }}" data-link="{{ recipe['source'] }}" data-name="{{ recipe['name'] }}">Cook</button>
                <br>
            </div>
            <br>
       {% endfor %}
    {% else %}
        <h4>There are no suggested recipes. Please add ingredients to your profile.</h4>
    {% endif %}

    <h4><a href="/">Profile</a>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/recipes.js"></script>

{% endblock %}